@use 'sass:math';
@use '../../../styles/variables';

$message-content-gap: math.div(variables.$default-gap, 2);
$message-content-margin: math.div(-$message-content-gap, 2) math.div(variables.$default-gap, 2);

.message-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: $message-content-margin;
	align-items: flex-start;

	>* {
		margin: math.div($message-content-gap, 2) 0;
		width: 100%;
		justify-content: flex-start;
	}

	&--reverse {
		align-items: flex-end;
		width: 100%
	}

	&--auto-width {
		width: auto;

		> * {
			width: auto;
		}
	}
}